#checkerMainContainer {
  display: flex;
  #gameInfoContainer{
    margin: 50px;
    .playerOne{

    }
    .playerTwo{

    }

  }
  #checkersContainer {
    width: 600px;
    md-grid-tile {
      background-color: black;
      border: 2px solid white;
      color: #fff;
      font-size: 1px;
      &.even {

        &:nth-child(odd) {
          background-color: red;
        }
      }
      &.odd {
        &:nth-child(even) {
          background-color: red;
        }
      }
      &.available {
        border: 3px solid blue;
      }

    }
  }
}
