
#checkersContainer {
 &.active{
   border: 10px solid red;
 }
  &.active.black{
    border: 10px solid black;
  }
  margin: 20px auto;

  max-width: 700px;
  md-grid-tile.mat-grid-tile  {
    background-color: black;
    border: 2px solid white;
    color: #fff;
    font-size: 1px;
    img{
      width:65px;
    }
    &.even {

      &:nth-child(odd) {
        background-color: red;
      }
    }
    &.odd {
      &:nth-child(even) {
        background-color: red;
      }
    }
    &.available {
      border: 3px solid blue;
    }

  }
}
