<md-list>
  <div class="row">
    <h3 md-subheader i18n>Game</h3>
    <h3 md-subheader i18n>Creator</h3>
    <!--flex spacer-->
    <h3 md-subheader></h3>
    <!--flex spacer-->
    <h3 md-subheader></h3>
  </div>
  <md-list-item class="row" *ngFor="let availableGame of games">
    <div class="column">
      {{availableGame.game}}
    </div>
    <div class="column">
      {{availableGame.players[0].username}}
    </div>
    <div class="column">
      <button md-raised-button color="accent" (click)="viewPlayer(availableGame?.players[0])">View player stats</button>
    </div>
    <div>
      <button md-raised-button color="accent" (click)="joinAvailableGame(availableGame.$key, availableGame.game)" i18n>Join</button>
    </div>
  </md-list-item>
</md-list>
