.row {
    display: flex;
    h3 {
        flex: 1;
    }
    div {
        flex: 1;
    }
}

div {
    color: #546E7A;
}

button:hover {
    transform: scale(1.05) ;
    transition: transform 0.1s ease-in;
}