<div id="playerInfo" *ngIf="!playerWon">
  <p class="playerNumber" *ngFor="let p of players" i18n>Player {{p.ind+1}}
    <span class="playerName">{{p.username}}</span>
    <img *ngIf="images" [src]="images[p.icon]"/>
    <span class="counts" *ngIf="p.pieceCount">{{p.pieceCount}}</span>
  </p>

  <p i18n class="playerNumber" *ngIf="me.uid === currentPlayer.uid"> Its your turn
    <img *ngIf="images" [src]="images[currentPlayer.icon]"/></p>
</div>
<div id="victorInfo" class="playerNumber" *ngIf="playerWon">
  <span i18n *ngIf="playerWon.icon"> Winner is <img *ngIf="images" [src]="images[playerWon.icon]"/></span>
  <span i18n *ngIf="playerWon.draw"> This Game Was a Draw</span>
</div>
