:host {

  md-card {
    width: 200px;
    display: inline-block;
    margin: 8px;
    img {
      width: 65px;
      height: 65px;
      background: #fff url('../../../../assets/backFrame.png') no-repeat right top;
    }
  }
  .move-right {
    float: right;
  }
  #Victor {
    z-index: 9999;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 20%;
    width: 30%;
    background-color: #FFF;
  }
  .content-area {
    background: #EFEFEF;
  }
}
