div.login-logout {
    position: absolute;
    right: 1em;
}

md-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
  justify-content: space-around;
  display: flex;
}

.toolbar-avatar {
  border-radius: 50%;
  height:50px;
  width:50px;
  margin-right: 10px;
}

.toolbar-title {
  cursor: pointer;
}

.toolbar-name {
  margin-right: 10px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
