<header id="othelloGameHeader">
  <md-card *ngIf="othelloService.players && othelloService.players[0]">
    <md-card-header>
      <md-card-title>Player 1: {{othelloService.players[0].username}}</md-card-title>
    </md-card-header>
    <md-card-content>
      <p>Current Score: {{othelloService.players[0].pieceCount}}</p>
    </md-card-content>
  </md-card>
  <md-card *ngIf="othelloService.players && othelloService.players[1]" class="move-right">
    <md-card-header>
      <md-card-title>Player 2: {{othelloService.players[1].username}}</md-card-title>
    </md-card-header>
    <md-card-content>
      <p>Current Score: {{othelloService.players[1].pieceCount}}</p>
    </md-card-content>
  </md-card>
</header>
<section id="othelloGameContainer" *ngIf="othelloService.game && othelloService.game.grid">
  <fun-board
    [grid]="othelloService.game.grid"
    [images]="images"
    [x]="8"
    [y]="8"
    (onClick)="onClick($event)"
    (onMouseOver)="onMouseOver($event)"
    (onMouseLeave)="onMouseLeave($event)"
  ></fun-board>
  <section id="othelloVictor" class="mat-card" *ngIf="othelloService.game.victor">
    <h3 *ngIf="othelloService.game.victor.winner">Winner is {{othelloService.game.victor.winnerName}}</h3>
    <h3 *ngIf="!othelloService.game.victor.winner">Players have tied!</h3>
    <p *ngIf="othelloService.game.victor.winner">{{othelloService.game.victor.p1.username}}: {{othelloService.game.victor.p1.record.w}}W / {{othelloService.game.victor.p1.record.l}}L / {{othelloService.game.victor.p1.record.d}}D</p>
    <p *ngIf="othelloService.game.victor.winner">{{othelloService.game.victor.p2.username}}: {{othelloService.game.victor.p2.record.w}}W / {{othelloService.game.victor.p2.record.l}}L / {{othelloService.game.victor.p2.record.d}}D</p>
    <button md-raised-button (click)="backToLobby()">Back To Lobby</button>
  </section>
</section>
