<div id="battleshipPieces">
  <div class="carrier piece" dnd-draggable [dragEnabled]="true" [dragData]="data">Carrier</div>
  <div class="battleship piece" dnd-draggable [dragEnabled]="true" [dragData]="data">Battleship</div>
  <div class="cruiser piece" dnd-draggable [dragEnabled]="true" [dragData]="data">Cruiser</div>
  <div class="submarine piece" dnd-draggable [dragEnabled]="true" [dragData]="data">Submarine</div>
  <div class="destroyer piece" dnd-draggable [dragEnabled]="true" [dragData]="data">Destroyer</div>
</div>
