<div id="battleshipPieces">
  <div class="carrier piece" dnd-draggable [dragEnabled]="true" [dragData]="data" i18n>Carrier</div>
  <div class="battleship piece" dnd-draggable [dragEnabled]="true" [dragData]="data" i18n>Battleship</div>
  <div class="cruiser piece" dnd-draggable [dragEnabled]="true" [dragData]="data" i18n>Cruiser</div>
  <div class="submarine piece" dnd-draggable [dragEnabled]="true" [dragData]="data" i18n>Submarine</div>
  <div class="destroyer piece" dnd-draggable [dragEnabled]="true" [dragData]="data" i18n>Destroyer</div>
</div>
