<fun-toolbar></fun-toolbar>
<h1>
  {{title}}
</h1>
<div style="display:flex; flex-direction: row;">
  <div style="flex:4">
    <router-outlet></router-outlet>
  </div>
  <div style="flex:1">
    <fun-chat></fun-chat>
  </div>
</div>

<button (click)="login();">Log In!</button>
<button (click)="logout();">Log Out!</button>

<div>
  Users:
  <div *ngFor="let user of users">
    <img src="{{user.profile_picture}}" style="height:50px;width:50px;" />
    <span> {{user.username }} </span>
  </div>
</div>
