/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng2-dnd/bundles/style.css";

html {
  background: #EFEFEF;
}

md-card.mat-card {
  background: fade(white, 95%);
  button {
    background: fade(#2196f3, 100%);
  }
}

.mat-button-toggle {
  background: fade(white, 100%);
}
.mat-button-toggle-checked .mat-button-toggle-label-content {
  background: fade(lighten(#546E7A, 40%), 100%);
}

h3 {
  cursor: default;
}

#secondPlayerWait {
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 100;

  md-progress-spinner {
    margin-left: 50px;
  }
}
