@import '~@angular/material/theming';
@import "~@progress/kendo-theme-default/scss/all";
@include mat-core();

$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent:  mat-palette($mat-blue, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

body {
  margin: 0px;
  font: Roboto, "Helvetica Nue", sans-serif;
}

md-card {
  background-color: opacify(white, .7);
}