<md-card>
  <md-button-toggle-group #group="mdButtonToggleGroup" (change)="handleToggle($event, value)">
    <md-button-toggle md-raised-button color="accent" value="tictactoe">Checkers</md-button-toggle>
    <md-button-toggle md-raised-button color="accent" value="checkers">Tic Tac Toe</md-button-toggle>
  </md-button-toggle-group>
  <md-card-actions>
    <button md-raised-button color="accent">Create a game</button>
    <button md-raised-button color="accent">Find a game</button>
  </md-card-actions>
</md-card>