md-card {
    display: flex;
    flex-direction: column;
    height: 30%;
    div.toggle-container {
        flex: 1;
        align-content: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    md-button-toggle-group {
        flex: 0 1;
        align-content: center;
        justify-content: center;
    }
    md-card-actions {
        flex: 1;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}