:host {
    display: flex;
    flex-direction: column;
}
md-card {
    flex: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-height: 400px;
    div.toggle-container {
        flex: 1;
        align-content: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    md-button-toggle-group {
        flex: 0 1;
        align-content: center;
        justify-content: center;
    }
    md-card-actions {
        flex: 1;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

div.toggle-container {
    md-button-toggle:hover, md-button-toggle:focus, md-button-toggle:active {
        background-color:lighten(#546E7A, 40%);
        color: black;
        div:focus {
            background-color: lighten(#546E7A, 40%);
            color: black;
        }
    }
}

button:hover {
    transform: scale(1.05) ;
    transition: transform 0.1s ease-in;
}