<md-card id="secondPlayerWait" *ngIf="game.players && game.players.length < 2">
  <md-card-content>
    <p>Waiting for another player to join...</p>
    <md-progress-spinner
      mode="indeterminate"
    ></md-progress-spinner>
  </md-card-content>
</md-card>
<div *ngIf="game && game.players.length>1 && game.currentPlayer">
  <fun-player-info [players]="game.players" [currentPlayer]="game.currentPlayer" [victor]="game.victor"
                   [images]="images" [me]="me" [state]="game.state">
  </fun-player-info>
</div>


<div id="gameContainer" *ngIf="game && game.players.length>1">
  <fun-board [grid]="game.grid" [x]="3" [y]="3" (onClick)="onClick($event)" [images]="images"></fun-board>
</div>
